<figure class="video">
    <time datetime="{{ post.date }}">{{ post.date | formatDate }}</time>
    <video controls width="819">
        <source src="{{ post.data.file }}" type="{{ post.data.type }}" />
        <p>
            Your browser doesn't support this video. Here is a
            <a href="{{ post.data.file }}">link to the video</a> instead.
        </p>
    </video>
    <figcaption>{{ post.content | safe }}</figcaption>
</figure>