---
layout: base.njk
---
<header>
    <h1>{{ site.title }}</h1>
    <p>{{ site.description }}</p>
</header>
<main>
    <hr>
    {% set posts = collections.post %}
    {% if posts %}
        <div class="grid">
            {% for post in posts | reverse %}
                {% if 'note' in post.data.tags %}
                    {% include "_note.njk" %}
                {% endif %}
                {% if 'image' in post.data.tags %}
                    {% include "_image.njk" %}
                {% endif %}
                {% if 'video' in post.data.tags %}
                    {% include "_video.njk" %}
                {% endif %}
                {% if 'audio' in post.data.tags %}
                    {% include "_audio.njk" %}
                {% endif %}
                {% if 'embedded' in post.data.tags %}
                    {% include "_embedded.njk" %}
                {% endif %}
                {% if 'quote' in post.data.tags %}
                    {% include "_quote.njk" %}
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}